:root[data-theme='dark']
.border-icon{
    filter: 
        drop-shadow( 1px 0 rgb(var(--txtColor)) )
        drop-shadow( 0 1px rgb(var(--txtColor)) )
        drop-shadow( -1px 0 rgb(var(--txtColor)) )
        drop-shadow( 0 -1px rgb(var(--txtColor)) );
}

.outlined-title{
    font-family: var(--mainFont);
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgb(var(--color1));
    text-shadow: 
        2px 0 rgb(var(--txtColor)),
        0 2px rgb(var(--txtColor)),
        -2px 0 rgb(var(--txtColor)),
        0 -2px rgb(var(--txtColor));
}

:root[data-theme="light"]
.filter-on-hover:hover{
    filter: saturate(1.25);
}

:root[data-theme="dark"]
.filter-on-hover:hover{
    filter: brightness(1.2);
}

body{
    background-color: rgb(var(--bgColor1));
    color: rgb(var(--txtColor));
    height: 200vh;
    position: relative;

    font-family: var(--txtFont);
}

    #header section {
    }

        div.titles{

        }

            div.titles span#titleSymbol {
                color: rgb(var(--color1));
                text-shadow: 
                    2px 0 rgb(var(--txtColor)),
                    0 2px rgb(var(--txtColor)),
                    -2px 0 rgb(var(--txtColor)),
                    0 -2px rgb(var(--txtColor));
            }
            div.titles .page-title {
            }
            div.titles img#iconPhone {
                height: 50px;
                margin-left: 10px;

                animation: giggle-wide 5s infinite ease ;
            }

        label.theme-input {
            background-color: rgb(var(--bgColor2));
            width: 50px;
            height: 50px;
            min-height: 100%;
            padding: 10px;
            
            display: flex;
            align-items: center;
            gap: 10px;

            border: 1px solid rgb(var(--txtColor));
            border-radius: 50px;

            overflow: hidden;
            white-space: nowrap;

            cursor: pointer;
            transition: width 200ms ease-out;
        }
            label.theme-input::after {
                content: 'Mudar o Tema';
                width: 0;

                font-size: .8em;
                font-family: var(--mainFont);
                vertical-align: middle;
                text-transform: uppercase;
            
            }
            label.theme-input:hover {
                width: 150px;
                padding-right: 10px;
                padding-left: 10px;                

                scale: 1.05;
            }
            label.theme-input:hover::after {
                width: auto;
            }

            .theme-input input[type="checkbox"] {
                display: none;
            }

            .theme-input img.icon {
                height: 100%;
            }
            
        .page-description {
            font-size: 1.1em;
        }

    main#main-container{

    }

        div#display-controllers {
            margin-bottom: 10px;

        }

            div.filter-container {

            }

                div.filter-area {
                    display: flex;
                    gap: 5px;
                    align-items: center;

                }
                    div.filter-area > label{
                        font-size: 1.15em;
                        text-wrap: nowrap;
                        font-family: var(--mainFont);
                        font-variant: small-caps;
                    }
                    div.filter-area > select {
                        background-color: rgb(var(--bgColor2));
                        width: 100%;
                        padding: 3px 10px;
                        
                        color: rgb(var(--txtColor));
                        font-size: .85em;
                        
                        border: none;
                        border-radius: 5px;
                        cursor: pointer;

                        transition: all 200ms ease-out;
                    }
                        div.filter-area > select:hover {
                            outline: none;
                            border: none;
                        }
                        div.filter-area > select:focus {
                            outline: 1px solid rgb(var(--txtColor));
                        }

            button.add-task-btn {
                background-color: rgb(var(--bgColor2));

                color: rgb(var(--txtColor));
                font-size: 1.5em;
                height: min-content;
                padding: 0 6px;

                display: flex;
                justify-content: center;
                align-items: center;
                
                border: 1px solid rgb(var(--txtColor));
                border-radius: 50px;

                overflow: hidden;
                white-space: nowrap;

                transition: all 300ms ease-out;
            }
                button.add-task-btn:hover {
                }
                button.add-task-btn::after {
                    content: 'Adicionar Tarefa';
                    max-width: 0px;

                    font-size: .8rem;
                    font-family: var(--mainFont);
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    
                    opacity: 0;
                    overflow: hidden;

                    transition: all 300ms ease-out;
                }
                    button.add-task-btn:hover::after {
                        max-width: 200px;
                        padding: 0 2px;

                        opacity: 1;
                    }

            




    table#taskTable{
        box-shadow: 0 1px rgb(var(--txtColor));
    }
        table#taskTable tr,
        table#taskTable th{
            background-color: transparent;
        }
        table#taskTable th{
            padding: 5px 15px;
            vertical-align: middle;
        }

        table#taskTable > thead{
        }
            :root[data-theme='light']
            table#taskTable > thead{
                background-color: rgb(var(--color1));
            }
            :root[data-theme='dark']
            table#taskTable > thead{
                background-color: rgb(var(--bgColor2));
            }       
            table#taskTable > thead tr,
            table#taskTable > thead th{
                color: rgb(var(--txtColor));
                font-family: var(--mainFont);
                text-transform: uppercase;
                letter-spacing: 2px;
                word-spacing: -3px;
            }
            table#taskTable > thead th{
                padding: 15px 15px 10px;
                text-wrap: nowrap;
                box-shadow: 0 -1px rgb(var(--txtColor));
            }
            table#taskTable > thead th:first-of-type{
                border-top-left-radius: 30px;
                text-align: center;
                box-shadow: 
                    -1px 0 rgb(var(--txtColor)),
                    0px -1px rgb(var(--txtColor));
            }
            table#taskTable > thead th:last-of-type{
                border-top-right-radius: 30px;
                text-align: center;
                box-shadow: 
                    1px 0 rgb(var(--txtColor)),
                    0px -1px rgb(var(--txtColor));
            }

        table#taskTable > tbody#taskBody{
            background-repeat: repeat;
            background-size: 10%;
        }
            :root[data-theme='light']
            table#taskTable > tbody#taskBody{
                background-image: url('../../assets/img/melodyPattern.png');
                box-shadow: inset 0 0 0 1000px rgba(var(--bgColor2), 0.5);
            }
            :root[data-theme='dark']
            table#taskTable > tbody#taskBody{
                background-image: url('../../assets/img/kuromiPattern.png');
                box-shadow: inset 0 0 0 1000px rgba(var(--bgColor2), 0.7);
            }

            table#taskTable > tbody#taskBody tr{
                box-shadow: 
                    1px 0 rgb(var(--txtColor)),
                    -1px 0 rgb(var(--txtColor));
            }
                table#taskTable > tbody#taskBody tr:nth-child(even){
                    background-color: rgba(var(--bgColor2), 0.3);
                }
                table#taskTable > tbody#taskBody tr th:first-of-type,
                table#taskTable > tbody#taskBody tr th:last-of-type{
                    text-align: center;
                    vertical-align: middle;
                }
                
                table#taskTable > tbody#taskBody tr th{
                    color: rgb(var(--txtColor));
                    font-weight: 400;
                    font-size: .9em;
                }
                


    table#taskTable input.task-done-input{
        display: none;
    }
        table#taskTable input.task-done-input + label{
            content: var(--uncheckedIcon);
            width: 40px;

            opacity: .5;
            filter: saturate(0);

            cursor: pointer;
            transition: all 150ms ease-out;
        }
        table#taskTable input.task-done-input + label:hover{
            scale: 1.2;
            filter: saturate(.5);

            transform: rotate(-5deg);
        }
        table#taskTable input.task-done-input:checked + label{
            content: var(--checkedIcon);
            filter: saturate(1);
            opacity: 1;

            animation: pop-up 250ms ease-in;
        }

        table#taskTable img.delete-task-btn{
            width: 45px;
            cursor: pointer;
            opacity: .5;

            transition: all 100ms ease-out;
        }
            table#taskTable img.delete-task-btn:hover{
                scale: 1.2;
                opacity: 1;
                transform: rotate(5deg);
            }
        