@font-face {
    font-family: 'Odin Rounded';
    src: url('../../assets/fonts/Hello-Kitty-Font/Odin\ Rounded\ -\ Bold.otf');
}

:root {
    --color1: #ed7aa8;
    --mainFont: 'Odin Rounded' , sans-serif;
}

    :root[data-theme="light"] {
        --bgColor1:#FDF2FA; 
        --bgColor2:#FCEAF8; 
        --txtColor:#291e1c; 
    }

    :root[data-theme="dark"] {
        --bgColor1:#291e1c; 
        --bgColor2:#3f3939; 
        --txtColor:#FCEAF8;
    }