@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Racing+Sans+One&display=swap');
@font-face {
    font-family: 'Odin Rounded';
    src: url('../../assets/fonts/Hello-Kitty-Font/Odin\ Rounded\ -\ Bold.otf');
}

:root {
    --mainFont: 'Odin Rounded' , sans-serif;
    --txtFont: 'Montserrat', sans-serif;
    --red: #e05451;
    --yellow: #E6AE63;
    --green: #9eb352;
}

    :root[data-theme="light"] {
        --color1: 237, 122, 168;
        --bgColor1:245, 229, 241; 
        --bgColor2:238, 207, 232; 
        --txtColor:107, 57, 44; 
    }
    
    :root[data-theme="dark"] {
        --color1: 233, 102, 152;
        /* --txtColor:#FCEAF8; */
        --bgColor1:41, 30, 28; 
        --bgColor2:63, 57, 57; 
        --txtColor:241, 226, 238;
    }