@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Racing+Sans+One&display=swap');
@font-face {
    font-family: 'Odin Rounded';
    src: url('../../assets/fonts/Hello-Kitty-Font/Odin\ Rounded\ -\ Bold.otf');
}

:root {
    --mainFont: 'Odin Rounded' , sans-serif;
    --txtFont: 'Montserrat', sans-serif;
}

    :root[data-theme="light"] {
        --color1: #ed7aa8;
        --bgColor1:#f5e5f1; 
        --bgColor2:#eecfe8; 
        --txtColor:#6B392C; 
    }
    
    :root[data-theme="dark"] {
        --color1: #e96698;
        /* --txtColor:#FCEAF8; */
        --bgColor1:#291e1c; 
        --bgColor2:#3f3939; 
        --txtColor:#f1e2ee;
    }